{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <h2 class="text-center" style="font-size:4rem;">About Us</h2>

    <p class="font-weight-normal" style="font-size: 20px;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, dolore? In repellat tempora ipsam praesentium, fugit cum temporibus obcaecati iusto consequuntur et eum quaerat mollitia adipisci. Incidunt praesentium sapiente earum autem, fugit in laboriosam placeat debitis minima voluptate maiores libero veniam aliquam sunt fugiat repellat! Magnam odio ad rem minus.
    </p>

</div>
{% endblock %}

{% block title %}
    About
{% endblock %}