<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}

    </title>
</head>
<body>


    <nav>
        <li>home</li>
        <li>about</li>
        <li>contact</li>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}  
    {% if  messages %}  
        {% for category, message in messages %}  
        {% if category == 'Error' %}
            <div class="alert alert-warning" role="alert"> 
                {{ message }}  Error</div>
        {% else %}
            <div class="alert alert-{{ category }}" role="alert">
                {{ message }}  {{ category }}</div>
        {% endif %} 
          {% endfor %}  
        {% endif %}  
    {% endwith %}

    {% block content %}
    {% endblock %}

    
</body>
</html>